@font-face {
    font-family: maximum-impact;
    src: url("webfonts/Maximum-Impact.ttf");
}
:root{
--couleur-background: #282c34;
--couleur-texte: #e3e7ed;
--couleur-texte-bleu: #169fe3;
--couleur-background-bouton: #3c3f49;
--couleur-background-bouton-select:	rgba(22,159,227,0.7);
--couleur-background-bouton-hover:	#3794c3;
}
html{
    margin: 0;
    height: 100%;
    width: 100;
    display: grid;
    grid-template-areas: 
    "main" "side"
    ;
    grid-template-columns: ;
}

